body {
    margin: 0;
    width: 100%;
    background: linear-gradient(to bottom, var(--primary), var(--accent));
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    padding: 0 5px;
    color: var(--secondary);
    min-height: calc(100vh - (60px * 2 + 5px));
}

section {
    margin: 5px 0;
    background-color: #2a3946;
    border: 3px solid #172835;
    border-radius: .3em;

    padding: 0 1em;
}

img {
    width: 100%;
    max-width: max-content;
}

h1, h2, li {
    color: var(--highlight);
}

p {
    text-align: justify;
    margin-left: 15px;
    line-height: 1.2rem;
}

.nav-link {
    user-select: none;
}